html {
  background: url(background.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: #9012FE;
}

html, body, #main {
  height: 100%;
}

html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: -apple-system, "Helvetica Neue", sans-serif;
}

#copy-wrapper h2 {
  font-size: 100px;
  color: #fff;
  line-height: 100px;
}

#copy-wrapper h3 {
  font-size: 36px;
  color: #fff;
  font-weight: normal;
}

#contact-wrapper {
  text-align: center;
}

#contact-button-wrapper a {
  display: inline-block;
  background: #fff;
  border-radius: 300px;
  min-width: 400px;
  max-width: 480px;
  text-align: center;
  padding: 15px 0;
  font-weight: bold;
  font-size: 18px;
  color: #292929;
  text-decoration: none;
  transition: 0.2s all linear;
}

#contact-button-wrapper a:hover {
  background: #02e2ca;
  color: #fff;
}

#main {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#copy-wrapper, #contact-wrapper {
  width: 50%;
}

#social-icons a {
  display: inline-block;
  font-size: 36px;
  padding: 20px 45px;
  color: #fff;
  text-decoration: none;
  transition: 0.2s all linear;
}

#social-icons a:hover {
  color: #02e2ca;
}

footer {
  color: #fff;
  width: 100%;
  text-align: center;
}

/* Mobile Styles */
@media(min-width: 0px) and (max-width: 991px) {
  #copy-wrapper, #contact-wrapper {
    width: 100%;
  }

  #copy-wrapper h2 {
    font-size: 150px;
    line-height: 140px;
  }

  #copy-wrapper h3 {
    font-size: 50px;
    margin-top: 75px;
  }

  #social-icons a {
    font-size: 100px;
    margin-bottom: 75px;
  }

  #contact-button-wrapper a {
    font-size: 45px;
    min-width: 100%;
    max-width: 100%;
    padding: 35px 25px;
  }

  footer {
    font-size: 34px;
  }
}

/* Tablet Styles */
@media(min-width: 992px) and (max-width: 1199px) {
  #copy-wrapper h2 {
    font-size: 72px;
    line-height: 75px;
  }

  #copy-wrapper h3 {
    font-size: 28px;
    margin-top: 25px;
  }

  #social-icons a {
    font-size: 42px;
    padding: 20px;
    margin-bottom: 20px;
  }

  #contact-button-wrapper a {
    font-size: 32px;
    width: 100%;
    padding: 15px 0;
  }

  footer {
    font-size: 21px;
  }
}

/* Desktop Styles */
@media(min-width: 1200px) {}